*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}
body{
    background: linear-gradient(
        90deg,
        #944ca4 0%,
        #b05bab 100%
    );
}

.todo-app{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #f9d3e8;
    width: 580px;
    min-height: 600px;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin: 128px auto;
    box-shadow: 0px 0px 20px 0px #000000;
}
h1{
    margin: 32px 0;
    color: 	#241464;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 1px 0px white;
}

.complete{
    text-decoration: line-through;
    opacity: 0.4;
}
.todo-form{
    margin-bottom: 32px;
}
.todo-input{
    padding: 15px 32px 15px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #141420	;
    outline: none;
    width: 320px;
    background: #ffffffa1;
    color: #000000;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}
.todo-input::placeholder{
    color:#124c81 ;
}
.todo-button{
    padding: 15px;
    border:2px solid #141420	;
    margin-left: 20px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    background: linear-gradient(
        90deg, 
        #303c6c 0%,
         #241464 100%
         ); 
    color: white;
    text-transform: capitalize;

}
.todo-input.edit{
    border: 2px solid 	#944ca4 ;  
}
.todo-button.edit{
    background: linear-gradient(
        90deg,
        #e90882 0%,
        #8c0d54 100%
    );
    padding: 15px 25px;
}
.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .todo-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: white;
    background: linear-gradient(
    90deg,
    #f37333 0%,
    #ff3d0d 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  }
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgb(15, 197, 5) 0%,
      #02a172 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      #ff5274 0%,
      #b30024 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }